/*** MAIN STYLES ***/

html {
    font-size: 1rem;
  }

body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h4, h5, h6 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
}

p, a, li {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

a:link {
    color: #E7E4DF;
  }
  
a:visited {
    color: #E7E4DF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 400px;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;  
    }
}

/*** HEADER STYLES ***/

header {
    background-color: #3B4D38;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    height: 300px;
    width: 100%;
}

header.container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#header-bar h3 {
    color: #E7E4DF;
    margin: 3%;
}

.star {
    color: #903914;
    font-size: 20px;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    color: #E7E4DF;
    font-weight: bold;
    padding: 0 2% 7% 2%;
}

#in-touch {
    background-color: #903914;
    padding: 5%;
    border-radius: 25px;
}

header img {
    width: 50%;
}

h1#heading-light {
    color: #E7E4DF;
}

h1.outline-text {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #FFBF00; 
}

#h1-header {
    font-size: 0.9em;
    line-height: 15px;
    position: absolute;
    top: 25%;
    left: 24%;
}

#header-img {
    position: relative;
    z-index: 2;
}

#heading-light {
    position: relative;
    z-index: 3;
}

#header-description {
    color: #E7E4DF;
    font-size: 0.9em;
    margin: 5px;
    position: absolute;
    top: 80%;
    width: 80%;
    z-index: 2;
    font-weight: bold;
}

.outline-text {
    position: relative;
    z-index: 1;
}

/*** ABOUT ME STYLES ***/

section#about-me {
    background-color: #E7E4DF;
    display: flex;
    flex-direction: column;
}

#about-me p {
    margin: 5px 20px 30px 0;
}

/*** PROJECT STYLES ***/

section#work {
    background-color: #3B4D38;
    display: flex;
    padding: 6% 0 6% 0;
    justify-content: center;
}

#work h3 {
    font-size: 5vw;
    text-align: center;
    color: #FFBF00;
}

#portfolio-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

#work h4 {
    color: #FFBF00;
}

#work p {
    color: #E7E4DF;
    text-align: left !important;
}

#portfolio-wrapper h4 {
    text-align: center;
}

.project-description {
    text-align: left !important;
}

figure img {
    width: auto;
    height: 50vw;
    border-radius: 5px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.figure p {
    margin: 5%;
}

span {
    font-weight: bold;
}

.button {
    text-align: center;
}

#portfolio-wrapper a {
    width: 100px;
    height: 40px;
    color: #E7E4DF;
    background-color: black;
    font-size: 14px;
    border: black 2px solid;
    border-radius: 25%;
    padding: 2%;
}

#portfolio-wrapper a:hover {
    background-color: #F0743E;
    border: #F0743E 2px solid;
    color: white; 
 }

 /*** BOTTOM STYLE ***/

#bottom-wrapper {
    display: flex;
    background-color: #E7E4DF;
    margin: 0;
    padding: 3% 0 3% 0;
}

.skills {
    width: 100%;
    background-color: #FFBF00;
    text-align: center;
}

.skills h3 {
    padding-top: 5%;
}

.skills ul {
    text-align: center;
}

.skills ul li {
    display: inline-block;
    font-size: 10px;
    padding: 1%;
}

.skills i {
    display: flex;
    font-size: 4.5em;
}

.skills ul li {
    display: inline-block;
    margin: 0 0 30px 0;
}

#extra-skills {
    margin-top: 5%;
    text-align: center;
}

#extra-skills p {
    display: inline-flex;
    text-align: center;
    font-weight: bold;
    flex-wrap: nowrap;
    background-color: black;
    color:#E7E4DF;
    border-radius: 25px;
    padding: 1%;
    margin: 2%;
}

.beside h2 {
    text-align: center;
}

.beside h3 {
    text-align: center;
}

.beside ul {
    text-align: center;
}

.beside ul li {
    display: inline-block;
    font-size: 10px;
    padding: 2%;
}

.beside i {
    display: flex;
    font-size: 3.25em;
    margin: 6%;
    color: #FFBF00;
}

#contact {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

#contact h2 {
    text-align: center;
}

#contact a {
    background-color:#903914;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    align-self: center;
}

/*** FOOTER STYLES ***/

footer {
    display: flex;
    background-color: #E7E4DF;
    text-align: center;
    font-weight: bold;
    padding: 5% 0 3% 0;
}

@media only screen and (min-width:730px) {
    /*** MAIN STYLES ***/

    body {
        min-width: 730px;
    }

    .container {
        width: 100%;
        max-width: 1199px;
    }

    /*** HEADER STYLES ***/
    
    #header-bar h3 {
        position: absolute;
        right: 45vw;
        bottom: 100%;
        width: 50%;
    }

    .header h1 {
        font-size: 3em;
        line-height: 16px;
        text-align: center;
    }    

    #h1-header {
        top: -15%;
        left: 36%;
    }

    #header-bar nav {
        position: absolute;
        right: 8%;
        bottom: 101%;
    }

    header img {
        width: 30%;
        position: relative;
        left: 23%;
    }

    #header-description {
        top: 80%;
        width: 30%;
        left: 15%;
    }
    /*** ABOUT STYLES ***/

    #about-me {
        padding: 2%;
    }

    /*** PROJECT STYLES ***/

    #work {
        background-color: #3B4D38;
        display: flex;
        padding-bottom: 20px;
        width: 100%;
        justify-content: flex-start;
    }

    #work h3 {
        font-size: 3vw;
    }
    
    figure img {
        height: 15vw;
    }

    .figure {
        width: 35%;
        margin: 0 0 2% 0;
    }

    .figure p {
        text-align: center;
        margin: 10%;
    }
}

/*** BOTTOM STYLES ***/

.about-p {
    padding: 0 10% 5% 10%;
}

@media only screen and (min-width:1000px) {
    /*** MAIN STYLES ***/

    .container {
        width: 100%;
        max-width: 2000px;
    }

    /*** HEADER STYLES ***/

    #header-bar h3 {
        position: absolute;
        right: 45vw;
        bottom: 80%;
        width: 50%;
    }

    .header h1 {
        font-size: 4em;
        line-height: 16px;
        text-align: center;
    }    

    #h1-header {
        top: -10%;
        left: 36%;
    }

    #header-bar nav {
        position: absolute;
        right: 5%;
        bottom: 90%;
    }

    header img {
        width: 18%;
        position: relative;
        left: 27%;
    }

    #header-description {
        top: 80%;
        width: 20%;
        left: 25%;
    }

    /*** ABOUT ME STYLES ***/

    #about-me h2 {
        margin: 2% 0 0 10%;
    }

    #about-me p {
        width: 80%;
        margin-left: 10%;
    }

    /*** PROJECT STYLES ***/

    #work {
        background-color: #3B4D38;
        display: flex;
        padding-bottom: 20px;
        width: 100%;
        justify-content: flex-start;
    }
    
    #work h3 {
        font-size: 2vw;
    }
    
    #work h4 {
        color: #FFBF00;
    }
    
    #work p {
        color: #E7E4DF;
    }

    figure img {
        height: 15vw;
    }

    .figure {
        width: 30%;
        margin: 0 0 2% 0;
    }

    .figure p {
        text-align: center;
        margin: 10%;
    }

    /*** BOTTOM STYLES ***/

    .skills {
        width: 50%;
        background-color: #FFBF00;
        text-align: center;
    }

    #extra-skills {
        margin: 2% 30% 10% 0;
        width: 50%;
        float: left;
    }

    #extra-skills p {
       justify-content: space-around;
    }

    .beside {
        width: 40%;
        position: absolute;
        left: 55%;
        top: 0;
    }

    #contact {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        top: 60%;
        width: 100%;
    }

    #contact h2 {
        flex-basis: 100%;
        margin-top: 5%;
    }

}